


<div class="row">

    <div class="col-lg-5 col-md-4 col-12"></div>
    <div class="col-lg-5 col-md-4 col-12 box">
        <h4 style="margin-left:50px;">Register</h4>
<form [formGroup]="registerForm" (ngSubmit)="register()">
<input type="text" class="form-control" formControlName="name" placeholder="Name">
<input type="text" class="form-control" formControlName="rolno" placeholder="Roll No">
<input type="text" class="form-control" formControlName="pswd"  placeholder="Password">
<input type="submit" class="btn btn-primary" (click)="register()" value="Register">
</form>
<a routerLink="">login</a>
    </div>
    <div class="col-lg-5 col-md-2 col-12"></div>

</div>